@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: rgb(228,228,228);
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background-color: rgb(228,228,228);
  width: 100%;
}
